@font-face {
    font-family: 'Vazir'; /* نام فونت */
    src: url('./vazir-font-v16.1.0/Vazir-Bold.woff2') format('woff2'), /* منبع فونت */
         url('./vazir-font-v16.1.0/Vazir-Light.woff') format('woff'); /* منبع فونت */
  }



body {
  font-family: "Vazir", sans-serif !important;
  font-size: 20px;
}
/* import the TreeView dependency styles */

@import "../node_modules/@syncfusion/ej2-base/styles/material.css";
@import "../node_modules/@syncfusion/ej2-react-navigations/styles/material.css";
@import "../node_modules/@syncfusion/ej2-inputs/styles/material.css";
@import "../node_modules/@syncfusion/ej2-buttons/styles/material.css";
