<!DOCTYPE html>
<html lang="fa">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Persian Automation Letter</title>
  <link rel="stylesheet" href="PrintableView.css">

  



  </style>
</head>
<body>

  <div class="print-container">
    <div class="ITNOG"> بسمه تعالی</div>
    <div class="header">
        
        <div class="logo">
            <img src="Instagram-Logo.png" alt="Logo">
        </div>
        
        <div class="date">تاریخ: ۱۳۹۹/۰۵/۲۵
        </br>
        شماره: 111222
        </div>
    </div>
    <div class="title">عنوان نامه</div>

    <div class="page">
      <p>جناب آقای فلانی</p>
      <p>مسئول محترم اداره فلان</p>
    </div>

    
    <div class="signature">
    <div class="signature-text">امضا</div>
    <div class="signature-image">
        <img src="Instagram-Logo.png">
    </div>
  </div>

</body>
</html>
