/* افزودن یک انیمیشن ساده برای جلوگیری از انقباض ناگهانی */
ul, li {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  /* استایل برای تاکید بر روی تگ‌های فرزند */
  li ul {
    display: none;
    margin-left: 20px;
  }

  li.active ul {
    display: block;
  }
