.parent {
    cursor: pointer;
    padding: 10px;
    background-color: #ddd;
  }

  .child-container {
    overflow: hidden;
  }
  .child {
    margin: 5px;
    padding: 5px;
    background-color: lightblue;
  }
